.navM {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 34px;
    height: 30px;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    transition: all 0.5s;
    transition-timing-function: ease-in;
    background-color: transparent
}

.nav__black {
    background-color: black;
}


.nav__logo {
    position: fixed;
    left: 50px;
    width: 80px;
    object-fit: contain;
}

.nav__avatar {
    position: fixed;
    right: 20px;
    width: 30px;
    object-fit: contain;
    display: block;
}

.primary {
    display: flex;
    color: white;
    justify-content: space-between;
}

ul li {
    list-style: none;
}

ul li a {
    color: #f1e3e3;
    cursor: pointer;
    background-color: transparent;

}

ul li a:hover {
    text-decoration: none;
    color: silver;
    font-weight: normal;
    background-position: 0 100%;

}

.nav_menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1.2rem;
}

.nav_toggler {
    cursor: pointer;
    display: block;
}

.nav__list {
    margin-left: 20px;
}

.navbar-toggler {
    padding: o.25rem o.75rem;
    font-size: 1.25rem;
    background-color: transparent;
    margin-left: 80px;
    border-radius: 0.25rem;

}

.nav_active {
    transform: translateX(0);
}

.nav_toggler div {
    width: 2.5rem;
    height: 0.2rem;
    margin: 0.4rem;
    background: silver;
    transition: 0.4s ease-in;
}


@media screen and (max-width: 768px) {
    .nav_toggler {
        display: block;
    }

    .nav_menu {
        position: fixed;
        top: 7vh;
        right: 0;
        width: 30%;
        height: 73vh;
        background-color: black;
        flex-direction: column;
        transform: translateX(100%);
        transition: 0.5s ease-in;
    }

    .hide {
        display: none;
    }
}

.list {
    display: flex;
    justify-content: space-between;
    margin-right: 90px;
    width: 100%;
}

/* toggler icon animation  */
.toggle .line1 {
    transform: rotate(-45deg) translate(-4px, 5px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-4px, -5px);
}

.nav-icons {
    margin-right: 60px;
    display: flex;
    color: white;
    justify-content: space-between;
    height: 32px !important;
}

::-webkit-input-placeholder {
    color: rgba(#efefef, .2);
}

:-moz-placeholder {
    color: rgba(#efefef, .2);
}

::-moz-placeholder {
    color: rgba(#efefef, .2);
}

:-ms-input-placeholder {
    color: rgba(#efefef, .2);
}

.black {
    color: white;
    background-color: black;
    display: block;
}

.white {
    color: white;

}