.row {
	margin-left: 20px;
	color: white;
}

.row__poster {
	width: 80%;
	object-fit:contain;
	max-height: 100px;
	transition: transform 450ms;
	margin-right: 10px;
	border-radius: 4px;
}

.row__posters {
	display: flex;
	overflow-y: hidden;
	overflow-x: scroll;
	padding: 20px;
}

.row__posters::-webkit-scrollbar {
	display: none;
}

.row__poster:hover {
	transform: scale(1.08);
	opacity: 1.2;
}

.row__posterLarge {
	max-height: 280px;
}
.row__posterLarge:hover {
	transform: scale(1.15);
	opacity: 1;
	border-radius: 6px;
	/* transform: translate(5px, -10px); */
} 


.row__youtube {
	padding: 40px;
}
.myList{
	background-color: aliceblue;
	height: 100px;
	color: black;
}

.backwardIcon{
	position: absolute;
	left: 0;
	padding-top: 15px;
	cursor: pointer;
	zoom: 150%;
	z-index: 10;
	opacity: 0.4;
}

.forwardIcon {
	position: absolute;
	right: 0;
	padding-top: 15px;
	cursor: pointer;
	zoom: 150%;
	z-index: 10;
	opacity: 0.4;
}
.row_large {
	position: absolute;
	margin-top: 45px;
	cursor: pointer;
	zoom: 150%;
	z-index: 10;
	opacity: 0.2;
}
